[Unit]
Description=stat tracker service
After=network.target

[Service]
User=ec2-user
Type=simple
Environment="NODE_PORT=3000"
Environment="PORT=3000"
Environment=CI=true
RestartSec=10s
TimeoutSec=900
RemainAfterExit=true
StandardOutput=syslog
StandardError=syslog
ExecStart=/usr/bin/bash /home/ec2-user/app/scripts/task/start.sh

[Install]
WantedBy=multi-user.target

