[Unit]
Description=stat tracker service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/bash /home/ec2-user/app/scripts/task/start.sh

[Install]
WantedBy=multi-user.target
